.env
.pio
.vscode/
.DS_Store
.direnv
.pio-core
.cache
include/credentials.h

node_modules/
.astro
.turbo
dev-dist
dist

__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv
